.header {
	padding: 10px;
	display: flex;
	flex-direction: column;
	background-color: var(--bg-dark);
}

.logo {
	display: flex;
	align-items: center;
}

.logo-img {
	box-sizing: border-box;
	display: flex;
	min-width: 100px;
	width: 120px;
}

.logo-title {
	font-family: 'Domine', serif;
	color: var(--cl-white);
	font-size: 2rem;
}

@media (min-width: 768px) {
	.logo-img {
		width: 150px;
	}

	.logo-title {
		font-size: 3rem;
	}
}
