.section-details {
	position: relative;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr;
}

.group-image-details {
	position: relative;
}

.title-details {
	font-size: 1.3rem;
	font-weight: bold;
	margin: 20px 0;
	font-family: 'Signika Negative', sans-serif;
}

.meal-image {
	width: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	box-sizing: border-box;
}

.list-details {
	margin-top: 20px;
	padding: 0px 30px;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
}

.list-details li {
	font-family: 'Patrick Hand', cursive;
	font-size: 1.2rem;
}

.paragraph-details {
	font-family: 'Patrick Hand', cursive;
	font-size: 1.2rem;
}

@media (min-width: 768px) {
	.section-details {
		grid-template-columns: 1fr 2fr;
	}

	.aside-details {
		position: sticky;
		top: 0px;
		height: fit-content;
		padding: 20px 20px 0 0;
	}

	.list-details {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1024px) {
	.section-details {
		grid-template-columns: 1fr 3fr;
		padding: 20px 10%;
	}

	.aside-details {
		padding: 20px;
	}
}

@media (min-width: 1280px) {
	.section-details {
		padding: 20px 13%;
	}

	.list-details {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1920px) {
	.section-details {
		padding: 20px 15%;
	}
}
