.card-category {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
	background-size: cover;
	background-color: var(--bg-white);
	position: relative;
	overflow: hidden;
}

.card-category img {
	border-radius: 10px;
	width: 100%;
	object-fit: cover;
	box-sizing: border-box;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
}

.card-category img:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.card-category h3 {
	padding: 0px 5px;
	box-sizing: border-box;
	font-family: 'Signika Negative', sans-serif;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 600;
	width: 100%;
	color: var(--cl-white);
	background-color: var(--cl-orange);
	border-radius: 0px 0px 10px 10px;
	position: absolute;
	bottom: 0px;
}
